<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Привет будующий марсианин!</title>
    <link rel="stylesheet" href={{style}}>
</head>
<body>
<div align="center">
    <form class="login_form" method="post">
        <div>
            <h2>Анкета претендента</h2>
        </div>
        <div>
            <h3>На участие в мисии</h3>
        </div>
        <div class="text">
            <table>
                <tr>
                    <td>
                        <a>Фамилия: </a>
                    </td>
                    <td>
                        <input class="intext" placeholder="Здесь что-то должно быть" maxlength="20">
                    </td>
                </tr>
                <tr>
                    <td>
                        <a>Имя: </a>
                    </td>
                    <td>
                        <input class="intext" placeholder="Здесь что-то должно быть" maxlength="20">
                    </td>
                </tr>
                <tr>
                    <td>
                        <a>Почта: </a>
                    </td>
                    <td>
                        <input class="intext" placeholder="Здесь что-то должно быть" maxlength="20">
                    </td>
                </tr>
                <tr>
                    <td>
                        <a>Класс: </a>
                    </td>
                    <td>
                        <select>
                            <option>7</option>
                            <option>8</option>
                            <option>9</option>
                            <option>10</option>
                            <option>11</option>
                        </select>
                    </td>
                </tr>
            </table>
        </div>
        <div class="text">
            <a>Какие у вас професии</a>
            <div>
                <input type="checkbox" alt="Текст"><label>инженер-исследователь</label>
            </div>
            <div>
                <input type="checkbox" alt="Текст"><label>пилот</label>
            </div>
            <div>
                <input type="checkbox" alt="Текст"><label>строитель</label>
            </div>
            <div>
                <input type="checkbox" alt="Текст"><label>экзобиолог</label>
            </div>
            <div>
                <input type="checkbox" alt="Текст"><label>врач</label>
            </div>
            <div>
                <input type="checkbox" alt="Текст"><label>инженер по терраформированию</label>
            </div>
            <div>
                <input type="checkbox" alt="Текст"><label>климатолог</label>
            </div>
            <div>
                <input type="checkbox" alt="Текст"><label>специалист по радиационной защите</label>
            </div>
        </div>
        <div class="text">
            <div>
                <a>Укажите пол:</a>
            </div>
            <div>
                <input type="radio" name="floor"><a>М</a>
            </div>
            <div>
                <input type="radio" name="floor"><a>Ж</a>
            </div>
        </div>
        <div class="text">
            <div>
                <a>Почему вы хотите принять участие в мисии?</a>
            </div>
            <div>
                <textarea class="intext" rows="5" cols="50">что-нибудь о себе</textarea>
            </div>
        </div>
        <div class="text">
            <div>
                <a>Приложите фотографию</a>
            </div>
            <div>
                <input type="file">
            </div>
        </div>
        <div class="text">
            <input type="radio" name="redy"><a>Готовы ли остаться на Марсе?</a>
        </div>
        <br>
        <div class="text">
            <button class="button" type="submit" name="scan">Отправить!</button>
        </div>
    </form>
</div>
</body>
</html>