<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Планета {{planet}}</title>
    <link rel="stylesheet" href={{style}}>
</head>
<body>
<div align="center">
    <div>
        <h1>Мой выбор {{planet}}</h1>
    </div>
    <div>
        <h2>Эта планета близка к земле;</h2>
    </div>
    <div>
        <h2 class="tmp1">На ней много необходимых ресурсов;</h2>
    </div>
    <div>
        <h2 class="tmp2">На ней есть вода и атмосфера;</h2>
    </div>
    <div>
        <h2 class="tmp3">На ней небольшое магнитное поле;</h2>
    </div>
    <div>
        <h2 class="tmp1">Наконец она красива;</h2>
    </div>
</div>
</body>
</html>